*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
	background: url(img/Ellipse_1_copy.png)383px 106px no-repeat, url(img/Layer_0.png);
	}

.travel {
	margin: 167px 0px 13px -5px ;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
	color: rgba(39,61,70,0.8);
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 3px;
	

}

.text1{
	text-align: center;
	font-size: 36px;
	max-width: 750px;
	color: rgba(39,61,70,0.9);
	margin: 0px 0px 0px 575px;
	line-height: 50px;
}

.example {
	width: 840px;
	height: 541px;
	border: 10px solid #ffffff;
	margin: 62px 0px 83px 530px;
}

.funny {
	max-width: 736px;
	line-height: 40px;
	color: rgba(39,61,70,0.9);
	font-size: 24px;
	margin: 0px 0px 64px 575px

}

.bubblegum li {
	line-height: 13px;
	font-size: 20px;
	margin: 0px 0px 13px 575px;
	background: url(../img/check_icon.png)left no-repeat;
	padding: 0px  0px  0px 40px;
}

.jtext {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	color: #273d46;

}
.italicolor {
	font-style:oblique;
	color: #80b7b3;
	line-height: 17px;



}
.bold {
color: #273d46;
font-weight: bold;

}
.nottruth {
text-decoration:line-through;
color: rgba(39,61,70,0.3);
}

.list li {
	margin: 0px 0px 20px 575px;
	font-size: 20px;
	line-height: 30px;
	background: url(img/check_icon.png) left no-repeat; 

}

.content_bottom {
	background: url(../CSS/img/Shape_2.png) right no-repeat;
	display: inline-block;
	margin: 50px 1160px 100px 575px;
	padding: 0px 40px;
	box-shadow: 0 6px 40px #80b7b3;
	background-color: #80b7b3;
	height: 44px;
	line-height: 44px;
	border-radius: 20px;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	
	
}
a {
	color: #eef5f5;
}
a link {
	color: #eef5f5
}

a:hover {
	color: blue;
}